<div class="changelog_modal_wrap md_modal_wrap" my-modal-position>

  <div class="md_modal_head">
    <div class="md_modal_title_wrap">
      <div class="md_modal_actions_wrap clearfix">
        <a class="md_modal_action md_modal_action_close" ng-click="$close()" my-i18n="modal_close"></a>
      </div>
      <div class="md_modal_title" my-i18n="head_about"></div>
    </div>

    <div class="peer_modal_profile_wrap clearfix">
      <div class="peer_modal_photo_wrap pull-left">
        <div class="peer_modal_photo telegram_modal_logo"></div>
      </div>
      <div class="peer_modal_profile">
        <div class="peer_modal_profile_name">Buzzing</div>
        <div class="peer_modal_profile_description">Version {{currentVersion}}</div>
      </div>
    </div>
  </div>

  <div class="md_modal_split_actions_wrap">
    <div class="md_modal_split_actions">
      <a href="https://twitter.com/telegram_web" target="_blank" class="md_modal_split_action">
        <i class="md_modal_split_action_twitter"></i>
      </a>
    </div>
  </div>

  <div class="md_modal_body">

    <div class="md_modal_sections">

      <div class="md_modal_versioned_section_wrap" ng-if="canShowVersion('0.4.9')">
        <div class="md_modal_section_version">0.4.9</div>
        <div class="md_modal_section_description changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>New emoji and sticker menu, tabs for sticker packs.</li>
          </ul>
        </div>
      </div>

      <div class="md_modal_versioned_section_wrap" ng-if="canShowVersion('0.4.8')">
        <div class="md_modal_section_version">0.4.8</div>
        <div class="md_modal_section_description changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Introducing Channels – a great new way to broadcast your messages to unlimited audiences.</li>
            <li>Check out the <a href="https://telegram.org/blog/channels" target="_blank">Telegram Blog</a> for more info</li>
            <li>Improved performance in Safari on OS X El Capitan.</li>
            <li>Added formatting for fixed-width code, surround text with `single backticks` for inline text and ```triple backticks``` for blocks of pre-formatted text.</li>
          </ul>
        </div>
      </div>

      <div class="md_modal_versioned_section_wrap" ng-if="canShowVersion('0.4.7')">
        <div class="md_modal_section_version">0.4.7</div>
        <div class="md_modal_section_description changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>New bot API, free for everyone. If you're an engineer, create your own bots for games, services or integrations.
            </li>
            <li>Check out <a href="https://telegram.org/blog/bot-revolution" target="_blank">Telegram Blog</a> for more info</li>
            <li>Improved Stickers support: now stickers are loading much faster.</li>
            <li>Click on any custom stickers in chats to view and add sticker sets.</li>
            <li>[Mobile] Reply to a message easily: tap on any message and select "Reply".</li>
          </ul>
        </div>
      </div>

      <div class="md_modal_versioned_section_wrap" ng-if="canShowVersion('0.4.6')">
        <div class="md_modal_section_version">0.4.6</div>
        <div class="md_modal_section_description changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Install and share custom sticker sets like this one: <a href="tg://addstickers?set=Animals">telegram.me/addstickers/Animals</a></li>
            <li>If you're an artist, create custom sticker sets using our <a href="tg://resolve?domain=stickers">@Stickers</a> bot.</li>
            <li>Check out <a href="https://telegram.org/blog/stickers-revolution" target="_blank">Telegram Blog</a> for more info</li>
          </ul>
        </div>
      </div>

      <div class="md_modal_versioned_section_wrap" ng-if="canShowVersion('0.4.5')">
        <div class="md_modal_section_version">0.4.5</div>
        <div class="md_modal_section_description changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>
              Invite links for group chats:<br/>
              Check out <a href="https://telegram.org/blog/invite-links" target="_blank">Telegram Blog</a> for more info
            </li>
            <li>Smart notifications</li>
            <li>'Listened' status for voice messages</li>
            <li>Places in locations (venues, landmarks)</li>
          </ul>
        </div>
      </div>

      <div class="md_modal_versioned_section_wrap" ng-if="canShowVersion('0.4.4')">
        <div class="md_modal_section_version">0.4.4</div>
        <div class="md_modal_section_description changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Link Previews:<br/>
            Get rich link summaries for tweets, YouTube videos, Instagram photos and other content.</li>

            <li>Check out <a href="https://telegram.org/blog/link-preview" target="_blank">Telegram Blog</a> for more info.</li>
          </ul>
        </div>
      </div>

      <div class="md_modal_versioned_section_wrap" ng-if="canShowVersion('0.4.3')">
        <div class="md_modal_section_version">0.4.3</div>
        <div class="md_modal_section_description changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Sessions List:<br/>
            View your active Telegram sessions (on desktop, tablet and mobile devices) and close specific sessions remotely.</li>

            <li>Two-step verification:<br/>
            Set up an additional password that will be required to log into your Telegram account.</li>

            <li>Check out <a href="https://telegram.org/blog/sessions-and-2-step-verification" target="_blank">Telegram Blog</a> for more info.</li>
          </ul>
        </div>
      </div>

      <div class="md_modal_versioned_section_wrap" ng-if="canShowVersion('0.4.2')">
        <div class="md_modal_section_version">0.4.2</div>
        <div class="md_modal_section_description changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Optimization for screens with smaller Y-resolutions.</li>
            <li>Supported Spotify URL embeds.</li>
            <li>Mentions of the current user in group chats are now highlighted.</li>
          </ul>
        </div>
      </div>

      <div class="md_modal_versioned_section_wrap" ng-if="canShowVersion('0.4.1')">
        <div class="md_modal_section_version">0.4.1</div>
        <div class="md_modal_section_description changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Reply to specific messages in groups.</li>
            <li>Mention @usernames in groups to notify multiple users.</li>
            <li>Revised notifications in groups: mentioned users and people you reply to will be notified (private chat notification settings apply in this case instead of group settings). Check out <a href="https://telegram.org/blog/replies-mentions-hashtags" target="_blank">Telegram Blog</a> for more info.</li>
            <li>Setting to disable message preview</li>
          </ul>
        </div>
      </div>

      <div class="md_modal_versioned_section_wrap" ng-if="canShowVersion('0.4.0')">
        <div class="md_modal_section_version">0.4.0</div>
        <div class="md_modal_section_description changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Full stickers support</li>
            <li>Multisearch box: instantly find chats, usernames and messages</li>
            <li>Emoji autocomplete: e.g., type <strong>:kiss</strong> in the message field to see the list. <a href="http://www.emoji-cheat-sheet.com/" target="_blank">Full cheat sheet &raquo;</a></li>
            <li>Added 'typing' notification in chats list</li>
            <li>Online members counter in group headers</li>
          </ul>
        </div>
      </div>

      <div class="md_modal_versioned_section_wrap" ng-if="canShowVersion('0.3.9')">
        <div class="md_modal_section_version">0.3.9</div>
        <div class="md_modal_section_description changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>[Desktop] Material design completed</li>
          </ul>
        </div>
      </div>

      <div class="md_modal_versioned_section_wrap" ng-if="canShowVersion('0.3.8')">
        <div class="md_modal_section_version">0.3.8</div>
        <div class="md_modal_section_description changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Telegram.me links open right in Buzzing when authorized</li>
            <li>@username mentions in messages are clickable and open a conversation with the user</li>
          </ul>
        </div>
      </div>

      <div class="md_modal_versioned_section_wrap" ng-if="canShowVersion('0.3.7')">
        <div class="md_modal_section_version">0.3.7</div>
        <div class="md_modal_section_description changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>[Desktop] New material design for modal windows</li>
            <li>[Desktop] Forward messages to multiple recipients</li>
          </ul>
        </div>
      </div>

      <div class="md_modal_versioned_section_wrap" ng-if="canShowVersion('0.3.6')">
        <div class="md_modal_section_version">0.3.6</div>
        <div class="md_modal_section_description changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>New viewer for photos, videos, documents.</li>
            <li>[FirefoxOS] Improved media downloads.</li>
          </ul>
        </div>
      </div>

      <div class="md_modal_versioned_section_wrap" ng-if="canShowVersion('0.3.5')">
        <div class="md_modal_section_version">0.3.5</div>
        <div class="md_modal_section_description changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Added embedded Soundcloud tracks and playlists.</li>
            <li>Added global user search to contacts list.</li>
            <li>Added switch to mobile version on window resize.</li>
            <li>Migrate to HTTPS notification</li>
            <li>Bugfixes.</li>
          </ul>
        </div>
      </div>

      <div class="md_modal_versioned_section_wrap" ng-if="canShowVersion('0.3.4')">
        <div class="md_modal_section_version">0.3.4</div>
        <div class="md_modal_section_description changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Added embedded Facebook posts and Vimeo videos.</li>
            <li>Improved IE10+ support: downloading files and style fixes.</li>
            <li>Added unsupported media playback warning.</li>
            <li>Bugfixes.</li>
          </ul>
        </div>
      </div>

      <div class="md_modal_versioned_section_wrap" ng-if="canShowVersion('0.3.3')">
        <div class="md_modal_section_version">0.3.3</div>
        <div class="md_modal_section_description changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Added Native Client module: dramatically improved encryption speed; Download and upload speed is now as high as in native applications.</li>
            <li>HTTPS. We recommend you to use <a href="https://web.telegram.org" target="_blank">https://web.telegram.org</a>.</li>
            <li>Added multiple open tabs warning. Please note, that only one tab with Buzzing will work.</li>
            <li>Added embedded Instagram, Twitter, Vine, YouTube links.</li>
            <li>Jump to selected spot when playing back audio.</li>
            <li>Bugfixes</li>
          </ul>
        </div>
      </div>

      <div class="md_modal_versioned_section_wrap" ng-if="canShowVersion('0.3.2')">
        <div class="md_modal_section_version">0.3.2</div>
        <div class="md_modal_section_description changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Usernames support: <a href="" ng-click="changeUsername()">Choose a username right now!</a></li>
            <li>Search can now find public users by username.</li>
            <li>Most popular emoticons shown in 'recent' when empty</li>
            <li>[ChromeApp] Added saving window position and size</li>
            <li>Bugfixes</li>
          </ul>
        </div>
      </div>

      <div class="md_modal_versioned_section_wrap" ng-if="canShowVersion('0.3.1')">
        <div class="md_modal_section_version">0.3.1</div>
        <div class="md_modal_section_description changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>New languages: Spanish, German and Italian are now available </li>
            <li>New custom-made audio player</li>
            <li>Bad browser page for IE 6-9</li>
            <li>Perfomance improvements and bugfixes</li>
          </ul>
        </div>
      </div>

      <div class="md_modal_versioned_section_wrap" ng-if="canShowVersion('0.3.0')">
        <div class="md_modal_section_version">0.3.0</div>
        <div class="md_modal_section_description changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Log in codes may be received in other Telegram apps</li>
            <li>Partner's online status updates automatically</li>
            <li>Added support for non-english hashtags in messages</li>
            <li>Fixed invalid scrollbar width bug</li>
            <li>[Desktop] Added automatic country code detection</li>
            <li>[FirefoxOS] Improved PUSH-notifications for &lt;= 1.1</li>
            <li>[FirefoxOS] Fixed emoji in notifications</li>
            <li>[FirefoxOS] Fixed attachment bug for &lt;= 1.1</li>
            <li>[FirefoxOS] Added phonebook permissions handling</li>
            <li>[FirefoxOS] Added ability to share Gallery photos in Telegram</li>
          </ul>
        </div>
      </div>

    </div>


    <div class="changelog_footer_wrap clearfix">
      <a class="changelog_github_link" href="https://bitbucket.org/webriq/webogram" target="_blank">GitHub</a>
      <a ng-show="changelogHidden" class="changelog_more_link" href="" ng-click="showAllVersions()">View Previous Updates</a>
    </div>

  </div>

</div>