body {
      background: #f5f5f6;
      font-family: 'Open Sans', sans-serif;
      color: #757575; 
      font-weight: 300;    
    }
    p,li,td {
      line-height: 24px;   
      font-size: 15px;        
    }
    h1,h2,h3,h4,h5,h6 {
      color: #212121;
      margin-top: 25px;
      margin-bottom: 20px;
      font-weight: 300;
    }
    h1 {
      font-size: 48px;
    }
    h3 .fa {
      color: #039be5
      }
     h3:hover .fa {
         color: #B3E5FC
     }
    h5 {       
     font-weight: 600;
     color: #212121;
     font-size: 16px
    }    
    h6 {
        font-size: 15px;0
    }
    ._300 {
      font-weight: 300 !important;
    }
    a {
      color: #2196F3
    }
    .blue {
      color: #00b4ff;
    }
    strong {
      font-weight: 600;
    }
     .linking {
        padding: 6px 0 6px 30px;
        background: #eee url("https://messaging.buzzin.today/faq/img/step-1.png");
        display: inline;
        
    }
    .link {
        box-shadow: inline 1px 2px 3px #333;
        border-radius: 3px;
        border: 1px solid #ddd;
        border-right: none;
        background: #fff;
        padding: 3px 10px;
        color: #111;
        font-weight: 400;
    }
    .green  {
        color: #6dbf33;
    }
     .link:hover {
         color: inherit;
     }
    strong.orange {
        border: 1px solid #FFCDD2;
        padding: 0px 5px;
        border-radius: 3px;
        font-size: 14px;
    }
    .red {
        padding: 0px 5px;
        font-size: 14px;
        color: #E57373;
    }
    .orange {
      color: #E57373;
    }
    .container-fluid {
      background: #fff;        
    }  
     .container-fluid > div {
      padding-top: 70px; 
    }
    .content {
      padding-top: 15px; 
      padding-left: 55px;
      padding-right: 55px;
    }
     .content.footer {
       background: #FAFAFA
     }
    .content.no_top {
       padding-top: 0px;
    }
    .container-fluid .col-sm-3 {     
      padding-top: 78px;
      height: 100%;
      position: fixed;
      width: 20%;
    } 
     .container-fluid .col-sm-9 {
      margin-left: 20%;
      width: 80%;
      background: #fff;
      border-left: 2px solid #f2f2f2;      
    }
    .crashed {
      text-decoration: line-through
    }
    ol li  {
      margin-bottom: 25px;      
    }
    nav li {
      margin-bottom: 10px
    }
    nav li.disabled {
      color: #ddd;
    } 
    li ul li {
        margin-bottom: 15px;
        line-height: 24px;
    }
    li ul li img{
        position: relative;
        margin-right: 10px;
        top: -8px
    }

     nav li.separator {
      border-bottom: 1px solid #e0e0e0;
    }   
    li img {
      margin-top: 15px;
      max-width: 100%;
    }
    .bordered {
      border-top: 2px solid #f2f2f2;
    }
    nav {
      padding-left: 15px;
      padding-right: 35px;
    }
    
    .fix{
        position: fixed;
        width: 50px;
        height: 50px;
        line-height: 48px;
        text-align: center;
        border: 1px solid #E57373;
        background: #E57373;
        border-radius: 100%;
        bottom: 20px;
        right: 20px;
        color: #fff;
        font-size: 24px;
    }
    .fix:hover{
        text-decoration: none;
        color: #E57373;
        background: #fff;
    }
    .anim {
        transition: all 300ms ease-in;
        -webkit-transition: all 300ms ease-in;
        -moz-transition: all 300ms ease-in;
        -o-transition: all 300ms ease-in;
    }
    .about:after{
      content: "";
      display: block;
      clear: both;
  }
 .media  {
     border: 1px solid #e0e0e0; 
     margin-top: 0;
     margin-bottom: 25px;
     padding: 15px 25px;
     width: 47%;
     margin-right: 3%;
     float: left;
 } 
 .media:hover .media-left .fa {
   color: #039BE5;
 }
 .media .media-left {
     float: left;
     width: 15%;
     text-align: center;
     margin-right: 15px;
 }
 .media .fa {
     font-size: 44px;
     color: #B3E5FC;
 }
   @media screen and (max-width: 768px) {
       .col-sm-3 {
           padding: 15px 0 !important;
           background: #f9f9f9;
       } 
       nav li { 
           text-align: center;
       }
       nav li h3{ 
           margin-top: 0;
       }
       body .media .fa {
         font-size: 34px !important;
         color: #B3E5FC;
      }
      .container-fluid .col-sm-3 {      
        height: 100%;
        position: inherit !important;
        width: 100%; 
      } 
       .container-fluid .col-sm-9 {
        margin-left: 0px !important;
        background: #fff;
        border-left: 2px solid #f2f2f2;  
        width: 100%;
    }
   }
  
   @media screen and (max-width: 640px) {
        .media  {
          min-width: 100%;
          float: none; 
        }
        nav {
            padding-right: 15px;
        }
         .content {
          padding-top: 15px; 
          padding-left: 25px;
          padding-right: 25px;
        }
   }
